
  
/* Control the left side */
  .left {
    width: 30%;
    left: 0;
    background-color: orange;
  }
  
  /* Control the right side */
  .right {
    
    width: 70%;
    float: right;
    right: 0;
    height: 100%;
    background-color: red;
    border: 2px black;
  }
  
 .top{

    height: 10%;
    top:0;
    background-color: green;

 }