
  

  
 .top{

    height: 10%;
    
    background-color: green;

 }


 /* Control the left side */
 .left {
    float:left;
  width:30%;
  background-color:yellow;
  }
  
  /* Control the right side */
  .right {
    float: right;
    width: 70%;
    background-color:#00FF00;
    height:80%;
    overflow:scroll;
    
  }

 .chatbox
 {background-color: aqua;
    width: 70%;
    float: right;
    


 }