<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/t.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> 

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
/*  delete db*/
window.addEventListener('beforeunload', (event) => {
	event.returnValue = `Are you sure you want to leave?`;
	var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "http://127.0.0.1:5000/delete?room="+roomname);  /*link required*/
xhttp.send(); 
});
/*=============*/




    url= new URL(window.location.href).searchParams;
    roomname=url.get('room');
    var user=url.get('user');
    

    var socket = io.connect('http://127.0.0.1:5000');

socket.on('connect', function() {
    socket.send('User has connected!',roomname,user);
});



</script>


<body >
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="/home"><li>Home</li></a>
        <a href="/invites"><li>Invites</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/logout"><li>Logout</li></a>
       
      </ul>
    </div>
  </nav>
    <center>
       
            <span id=1 class="sign1">b</span><span id=2 class="sign1">i&nbsp;</span><span id=3 class="sign1">n</span><span id="4" class="sign1">g</span><span id=5 class="sign1">o</span>
        
          <div id="bin">
        <button id="btn1" class="button" onclick="check(1,this.id)">1</button>&nbsp;
        <button id="btn2" class="button" onclick="check(2,this.id)">2</button>&nbsp;
    
        <button id="btn3" class="button" onclick="check(3,this.id)">3</button>&nbsp;
        <button id="btn4"  class="button" onclick="check(4,this.id)">4</button>&nbsp;
        <button id="btn5" class="button" class="button" onclick="check(5,this.id)">25</button><br><br>
        <button id="btn6" class="button" onclick="check(6,this.id)">5</button>&nbsp;
        <button id="btn7" class="button" onclick="check(7,this.id)">6</button>&nbsp;
        <button id="btn8" class="button"  onclick="check(8,this.id)">7</button>&nbsp;
        <button id="btn9"  class="button" onclick="check(9,this.id)">8</button>&nbsp;
        <button id="btn10" class="button"  onclick="check(10,this.id)">9</button><br><br>
        <button id="btn11" class="button" onclick="check(11,this.id)">10</button>&nbsp;
        <button id="btn12" class="button"  onclick="check(12,this.id)">11</button>&nbsp;
        <button id="btn13" class="button" onclick="check(13,this.id)">12</button>&nbsp;
        <button id="btn14" class="button" onclick="check(14,this.id)">13</button>&nbsp;
        <button id="btn15" class="button" onclick="check(15,this.id)">14</button><br><br>
        <button id="btn16" class="button"  onclick="check(16,this.id)">15</button>&nbsp;
        <button id="btn17" class="button" onclick="check(17,this.id)">16</button>&nbsp;
        <button id="btn18" class="button" onclick="check(18,this.id)">17</button>&nbsp;
        <button id="btn19" class="button"  onclick="check(19,this.id)">18</button>&nbsp;
        <button id="btn20" class="button" onclick="check(20,this.id)">19</button><br><br>
        <button id="btn21" class="button" onclick="check(21,this.id)">20</button>&nbsp;
        <button id="btn22" class="button" onclick="check(22,this.id)">21</button>&nbsp;
        <button id="btn23" class="button" onclick="check(23,this.id)">22</button>&nbsp;
        <button id="btn24" class="button" onclick="check(24,this.id)">23</button>&nbsp;
        <button id="btn25" class="button" onclick="check(25,this.id)">24</button><br><br>
        </div>
    </center>


    <div id="center-text">
      
    <div id="body"> 
      
    <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABjUlEQVR4nO2ZTUoDQRCFPwQXblzrBFzpGbyBYKIeQDyABxCTbYKn0J3oGQRJRBRXnsC1S0ElEfzFkoEKDKG7HYNhqkN/UIvJdJFX8/ISqEAikfgPNoAe8AJIhTVQHY1xhjioWLx4qvNXJ/Kmd2AfyKiWDGiqnlxXvWzjhTbkzZZoqq5u2YaBNixiiwXV1Z+GYItW9MEW3yCxBVt8g8QWbPENEluwxTdIMDwVIw5taZAqkeSIMSQ5YgxJjhhDkiPGkOSIMSQ5YgxJjhh3pKbXz2UOW0JGtLVCe60YBslGFhLrocMWEUe1fztsESksILo+J4b0C/ZZohYKtoue0b1WKxRsF43CprFpwJmsTLB9dErsYa8dfTPA5QR3v+1xnkRdbRxmZrQ+HD1bExDfLxPscVjWN3hyuHGr9/KBzLOqYu88S+YbImFXBZ8UXtsGvvRjsEIEzKoT+SA7wDxwCHwDb8AmETAHnBZ+lI6AR71+ANaIhCvHN8oncGzwv5Qg58ArcA+cAXvAUrglkWBa+AHy46cu24+RSgAAAABJRU5ErkJggg==" width="36"></i>
      </div>
      
      <div class="chat-box">
        <div class="chat-box-header">
          Chat
          <span class="chat-box-toggle"><i class="material-icons"><img src="https://www.freeiconspng.com/uploads/silver-close-button-png-15.png" width="30" alt="silver close button png" /></i></span>
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay">   
          </div>
          <div class="chat-logs">
           
          </div><!--chat-log -->
        </div>
        <div class="chat-input">      

            <input type="text" id="chat-input" placeholder="Send a message..."/>
          <button type="submit" class="chat-submit" id="chat-submit" onclick="sending_msg(document.getElementById('chat-input').value); "><i class="material-icons"><svg style="width:40px;height:40px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.38)" d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z"></path></svg></i></button>
             
        </div>
      </div>
      
      
      
      
    </div>
    
    



      
       
    
        <button onclick="generate_message(msg, 'self'); ">self
</body>

<script>
   
   
   socket.on('turn',function(t)
   {
    turn=t;
    
   }
   );
   console.log(user)
    function change()
    {
    
    }
    /*substituting values to button*/
    var exnum = JSON.parse(sessionStorage.getItem('values'));
     
     for(i=1;i<26;i++)
     {id="btn"+i
         document.getElementById(id).innerHTML=exnum[i]
     }
     
 if (user==1){
     socket.emit('values',exnum);
 }
 else if(user==2)
 {
    socket.emit('values2',exnum);
 }
 </script>




<script>

    function check(index,id)
    {    
        
        console.log(index)
       

        if(user==1 && turn%2==1){
            console.log("user 1 turn is : ",turn)
            console.log("user1 played and next is user2 ")
    console.log(turn%2);
        socket.emit('clicked',index,exnum[index],user,roomname)
        }





        else if (user==2 && turn%2==0)
        {
            console.log("user2 turn is : ",turn)
            console.log("user2 played and next is user1 ")
    console.log(turn%2);
            socket.emit('clicked2',index,exnum[index],user,roomname)

        }
    }




    socket.on('light',function(n) {

      
        console.log("received number is :");
        console.log(exnum.indexOf(n));
        n=exnum.indexOf(n);
        id="btn"+n
        document.getElementById(id).className="button1"
    });



    socket.on('statics',function(s) {
        count=0
   
    for(o=0;o<12;o++)
    
    {   
        count=s[0][o]+count
    }

    if(count>=5)
    {
        alert("bingo");
    }
    console.log(count)
    if (count!=0)
    {
    glow(count)}
    console.log("statics are ")
    console.log(s)
    });




    function glow(id)
    {
        id=String(id)
      document.getElementById(id).className="sign";

    }




















    $(function() {
   
   
   
    
    
    $(document).delegate(".chat-btn", "click", function() {
     
      $("#chat-input").attr("disabled", false);
      
    })
    
    $("#chat-circle").click(function() {    
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
    })
    
    $(".chat-box-toggle").click(function() {
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
    })
    
  })



  INDEX=0;
  function generate_message(msg, type) {

    
      INDEX++;
      var str="";
      str += "<div id='cm-msg-"+INDEX+"' class=\"chat-msg "+type+"\">";
      str += "          <span class=\"msg-avatar\">";
     
      str += "          <\/span>";
      str += "          <div class=\"cm-msg-text\">";
      str += msg;
      str += "          <\/div>";
      str += "        <\/div>";
      $(".chat-logs").append(str);
      $("#cm-msg-"+INDEX).hide().fadeIn(300);
      if(type == 'self'){
       $("#chat-input").val(''); 
      }    
      $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);    
      
    }  

function sending_msg(msg){
  socket.emit('chat-in-game',roomname,msg,user);
}


    socket.on('chat-response',function(chit){
  console.log(chit);
  console.log(user);

  if(chit[1]!=user.toString())
  {
  generate_message(chit[0],'user')

  }
  else

  {

    generate_message(chit[0],'self')
  }


});
</script>

</html>