<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/online.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/link.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/publicc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bell.css') }}">
    <script src="https://kit.fontawesome.com/a0bfb68051.js"></script>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://127.0.0.1:5000/onlineusers');
    socket.on('connect', function() {
    socket.send('User has connected!');
});

socket.on('users',function(u) {
    console.log(u);
    document.getElementById("u").innerHTML = "";
    for(a=0;a<u.length;a++)
 {
    document.getElementById("u").innerHTML+="<li >"+"<br><img id='img' src=static/image/user.png width=60px >&nbsp;&nbsp&nbsp;&nbsp<button data-hover='invite!!' class='btn'"+"value="+ u[a]+" onclick=f(this.value)>"+"<div>"+u[a]+"</div>"+"</button>"+"</li>";
 }
    console.log(u[a]);


});






</script>
    <body>
        
       <div class="top">
        <p>&nbsp;<a href="/home" id="style-2" data-replace="HOME"><span>HOME</span></a>&nbsp;&nbsp;&nbsp;<a href="/invites" id="style-2" data-replace="INVITES"><span>INVITES</span></a>&nbsp;&nbsp;&nbsp;<a href="/logout" id="style-2" data-replace="LOGOUT"><span>LOGOUT</span></a></p> <br><br>




        
        <div class="search-box">
            <input class="in" type="text" id="Search" onkeyup="search()" name="" value="" placeholder="search">
            <button id=bu type="button" name="button"><i id=li class="fas fa-search"></i></button>
          
          </div>
          
        <br><br>

       </div>
        <div class="left">
            <div class="background-image"></div>
            <div id="mylist-container">
        <ul id="mylist">
        <div id="u"></div>
        </div>
        </div>
    </ul>

    <div class="bell">
    <div class="ringBell">
        <span class="-count">0</span>
      </div>
      </div>
    <h1>Community Corner</h1>
        <div class="right">
            chat
            <div id="ff">
                
            </div>

            
            </div>
            <div class="chatbox">
                <input type="text" id="text" placeholder="Type something here"><button  class="glow-on-hover"  onclick="sendmsg()">send</button>
            </div>


</body>

<script>

    function f(v)
    {
        

roomname=Math.random().toString(36).slice(2)

join_link=roomname
host_link="/bingo"+"?"+"room="+roomname+"&user="+1
socket.emit('invite',join_link,v)
window.location=host_link


    }
</script>




<script>
    function search() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('Search');
      filter = input.value.toUpperCase();
      ul = document.getElementById("mylist");
      li = ul.getElementsByTagName('li');
      console.log(filter)
    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
       
        txtValue = li[i].outerText
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>



<script>
function sendmsg()
{

    socket.emit('sendingmsg',document.getElementById("text").value);
}

socket.on('fast',function(m){

displaymsg(m)
deletemsg();
});




function displaymsg(m)
{
 document.getElementById("ff").innerHTML+="<li id='chat-text'><div id='name-chat'>&nbsp; "+m[0]+':-</div>&nbsp;&nbsp;&nbsp;&nbsp;<div id=cmsg>&nbsp;&nbsp;'+m[1]+"</div><br></li>"


}


function deletemsg()
{
 div=document.getElementById('ff');
 li=div.getElementsByTagName("li")
 if(li.length>8)
 {

    li[0].remove()
 }

}








/*

scroll functionality 

*/

/*get the count of invites*/
function countz(){
socket.emit('count')


}


setInterval(countz,2000)


socket.on('cou',function(c){
  t=document.querySelector('.-count');
  t.textContent=c;



});





window.addEventListener('beforeunload', (event) => {
	event.returnValue = `Are you sure you want to leave?`;
	var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "http://127.0.0.1:5000/deleteuser?");  /*link required*/
xhttp.send(); 
});

</script>





</html>