<html>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://127.0.0.1:5000/onlineusers');
    socket.on('connect', function() {
    socket.send('User has connected!');
});

socket.on('users',function(u) {
    console.log(u);
    document.getElementById("u").innerHTML = "";
    for(a=0;a<u.length;a++)
 {
    document.getElementById("u").innerHTML+="<li>"+"<button "+"value="+u[a]+"   onclick=f(this.value)>"+u[a]+"</button>"+"</li>";
 }
    console.log(u[a]);


});






</script>
    <body>
        <div id="u"></div>

<a href="/invites">invites</a>
</body>

<script>

    function f(v)
    {
        

roomname=Math.random().toString(36).slice(2)

join_link=roomname
host_link="/bingo"+"?"+"room="+roomname+"&user="+1
socket.emit('invite',join_link,v)


    }
</script>

</html>