<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/online.css') }}"> 

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://127.0.0.1:5000/onlineusers');
    socket.on('connect', function() {
    socket.send('User has connected!');
});

socket.on('users',function(u) {
    console.log(u);
    document.getElementById("u").innerHTML = "";
    for(a=0;a<u.length;a++)
 {
    document.getElementById("u").innerHTML+="<li >"+"<button "+"value="+u[a]+"   onclick=f(this.value)>"+u[a]+"</button>"+"</li>";
 }
    console.log(u[a]);


});






</script>
    <body>
        
       <div class="top">
        <a href="/invites">invites</a><br><br>
        <input type="text" id="Search" onkeyup="myFunction()" 
        placeholder="Please enter a search term.." title="Type in a name"><br><br>

       </div>
        <div class="left">
            
        <ul id="mylist">
        <div id="u"></div>
        </div>
    </ul>
        
        <div class="right">
            
            <div id="ff">chat</div>

            
            </div>


</body>

<script>

    function f(v)
    {
        

roomname=Math.random().toString(36).slice(2)

join_link=roomname
host_link="/bingo"+"?"+"room="+roomname+"&user="+1
socket.emit('invite',join_link,v)
window.location=host_link


    }
</script>




<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('Search');
      filter = input.value.toUpperCase();
      ul = document.getElementById("mylist");
      li = ul.getElementsByTagName('li');
      console.log(li[0].outerText)
    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
       
        txtValue = li[i].outerText
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>

</html>